.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s linear;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-move {
    transition: all 0.3s linear;
}

.fade-leave-active {
    position: absolute;
}