.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: rgb(17, 4, 112);
    border-bottom: 1px solid rgb(236, 234, 234);
    box-shadow: $shadow-light;
    padding: 30px;
    margin: auto;
    gap: 24rem;
    &-logo {
        display: block;
        img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
        }
    }
    &-links {
        display: flex;
        align-items: center;
        gap: 5rem;
    }
    a {
        display: flex;
        justify-content: baseline;
        align-items: center;
        font-size: 1.5rem;
        gap: 0.2em;
        color: rgb(255, 255, 255);
    }
    .nuxt-link-exact-active {
        color: rgb(110, 110, 243);
        border-bottom: 2px rgb(110, 110, 243) solid;
    }
}

@media screen and (max-width: 650px) {
    .icon {
        display: none;
    }
    .nav {
        justify-content: center;
        padding-right: 0;
        &-logo {
            display: none;
        }
        &-links {
            justify-content: space-between;
        }
    }
}